agno
google-generativeai
google-genai
python-dotenv
cachetools
tqdm
python-jobspy
pandas
numpy
beautifulsoup4
requests
scikit-learn
chromadb
xhtml2pdf
markdown
pypdf
rich
appwrite
Flask
flask-cors
gunicorn
