agno
google-generativeai
google-genai
python-dotenv
tqdm
python-jobspy==1.1.82
pandas
numpy
beautifulsoup4
requests
scikit-learn

pymupdf4llm
reportlab==4.0.9
xhtml2pdf==0.2.14
markdown
pypdf
appwrite
fastapi
uvicorn[standard]
pydantic-settings
python-multipart
slowapi
python-json-logger
gunicorn
tenacity
playwright
playwright-stealth
