name: Auto-assign Issues and PRs

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

permissions:
  issues: write
  pull-requests: write

jobs:
  auto-assign:
    runs-on: ubuntu-latest
    steps:
    - name: Auto-assign issue or PR
      uses: pozil/auto-assign-issue@v2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        assignees: zerobbreak
        numOfAssignee: 1
